<div class="iamge-editor" data-dojo-attach-point="widgetBase">
    <div class="image-editor__canvas">
        <canvas data-dojo-attach-point="canvasNode"></canvas>
    </div>
    <div class="image-editor__controls">
        <button class="mx-btn btn-default" data-dojo-attach-point="addArrowButtonNode">Add Arrow</button>
        <button class="mx-btn btn-default" data-dojo-attach-point="addTextButtonNode">Add Text</button>
        <button>Add Image</button>
        <button>Save</button>
    </div>

</div>